{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                角色列表 <a href="{% url 'rbac:role_add' %}" class="btn btn-sm btn-info pull-right" style="margin-top:-6px;color: #fff;"><i class="fa fa-plus-circle"></i> 添加</a>
            </h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>ID</th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for role in all_role %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ role.pk }}</td>
                    <td>{{ role.name }}</td>
                    <td>
                        <a href="{% url 'rbac:role_edit' role.pk %}" class="btn btn-sm btn-info"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'rbac:delete' 'Role' role.pk %}" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}